doctype xml
- locale = "fr";
include lib/nwn2-widget-lib.pug

//- ###############################################################################################
//- Config:
- var windowSize = [420, 650]
- var scrollSpeed = 60
- var headerHeight = 100

//- ###############################################################################################

- var contentSize = [windowSize[0] - 19, windowSize[1] - 17]

UIScene(
	name="SCREEN_JOURNAL"
	x=0 y='ALIGN_CENTER'
	width=windowSize[0] height=windowSize[1]
	fadeout=0.3 fadein=0.3
	priority='SCENE_INGAME' draggable="true"  backoutkey='true'
	OnAdd=`UIScene_Misc_RequestJournalUpdates("true","NOTES_FIELD")`
)
//- idleexpiretime="0.1" scriptloadable="true"

// Close Button
UIButton(name='CloseButton' x=windowSize[0] - 27 - 8 y=5 style='STYLE_CLOSE_BUTTON' OnLeftClick='UIButton_Input_ScreenClose()')

// Top left journal icon
UIFrame(name='JOURNAL_ICON' fill='qj_icon.tga' x=0 y=0 width=78 height=71)

UIPane(x=10 y=8 width=contentSize[0] height=contentSize[1] capturemouseclicks="false" capturemouseevents="false")

	// ***SCENE TITLE***
	UIText(name='SceneTitle' strref='181392' x=70 y=0 width=280 height=24 align='left' valign='middle' uppercase='true' fontfamily="Title_Font" style='1')

	// ***JOURNAL OPTION TABS***
	- var filterButtonWidth = contentSize[0] - 72
	UIPane(x=72 y=Math.round(0.27 * headerHeight) width=filterButtonWidth height=Math.round(0.29 * headerHeight))
		UIButton(name='SHOW_QUESTS_ACTIVE'
			x=0 width=Math.round(0.28 * filterButtonWidth) height='PARENT_HEIGHT'
			style='STYLE_SMALL_TAB' strref='63497' buttontype='radio' groupid='1' groupmemberid='1'
			OnSelected='UIButton_Input_SetJournalPage("QUESTS_PAGE","PAGE_QUEST_ACTIVE")'
			OnUnselected='UIButton_Input_HideObject("QUESTS_PAGE")'
		)
		UIButton(name='SHOW_QUESTS_COMPLETED'
			x=Math.round(0.28 * filterButtonWidth) width=Math.round(0.44 * filterButtonWidth) height='PARENT_HEIGHT'
			style='STYLE_BIG_TAB' strref='181393' buttontype='radio' groupid='1' groupmemberid='2'
			OnSelected='UIButton_Input_SetJournalPage("QUESTS_PAGE","PAGE_QUEST_COMPLETED")'
			OnUnselected='UIButton_Input_HideObject("QUESTS_PAGE")'
		)
		UIButton(name='SHOW_NOTES'
			x=Math.round((0.28 + 0.44) * filterButtonWidth) width=Math.round(0.28 * filterButtonWidth) height='PARENT_HEIGHT'
			style='STYLE_SMALL_TAB' strref='63498' buttontype='radio' groupid='1' groupmemberid='3'
			OnSelected='UIButton_Input_SetJournalPage("NOTES_PAGE","PAGE_NOTES")'
			OnUnselected='UIButton_Input_HideObject("NOTES_PAGE")'
		)

	// ***JOURNAL SORT OPTIONS***
	UIPane(x="ALIGN_CENTER" y=67 width=330 height=20)
		UIPane(name='SORT_DATE_PANE' x=0 y=0 width=100 height='PARENT_HEIGHT')
			UIButton(name='ByDate' x=0 y=0 height='PARENT_HEIGHT'
				style='ROUND_RADIO_BUTTON' groupid='2' groupmemberid='1'
				OnSelected='UIButton_Input_SetJournalSort("SORT_DATE")'
			)
			UIText(name='DATE_TEXT' x=22 y=0 width=78 height='PARENT_HEIGHT'
				strref='6325' align='left' valign='middle' fontfamily="Title_Font" style='1' uppercase='true'
			)

		UIPane(name='SORT_NAME_PANE' x=100 y=0 width=100 height='PARENT_HEIGHT')
			UIButton(name='ByAlpha' x=0 y=0 height='PARENT_HEIGHT'
				style='ROUND_RADIO_BUTTON' groupid='2' groupmemberid='2'
				OnSelected='UIButton_Input_SetJournalSort("SORT_NAME")'
			)
			UIText(name='NAME_TEXT' x=22 y=0 width=78 height='PARENT_HEIGHT'
				strref='154' align='left' valign='middle' fontfamily="Title_Font" style='1' uppercase='true'
			)

		UIPane(name='SORT_PRIORITY_PANE' x=200 y=0 width=130 height='PARENT_HEIGHT')
			UIButton(name='ByPriority' x=0 y=0 height='PARENT_HEIGHT'
				style='ROUND_RADIO_BUTTON' groupid='2' groupmemberid='3'
				OnSelected='UIButton_Input_SetJournalSort("SORT_PRIORITY")'
			)
			UIText(name='PRIORITY_TEXT' x=22 y=0 width=108 height='PARENT_HEIGHT'
				strref='6326' align='left' valign='middle' fontfamily="Title_Font" style='1' uppercase='true'
			)

	// ***JOURNAL LIST OF COLLAPSABLES***
	- var listboxLeft = 22
	- var listboxWidth = contentSize[0] - listboxLeft
	UIPane(name='QUESTS_PAGE' x=listboxLeft y=headerHeight width=listboxWidth height=contentSize[1] - headerHeight hidden='false')
		UIListBox(name='JournalEntryList' width="PARENT_WIDTH" height="PARENT_HEIGHT"
			ypadding='2' showpartialchild='true' scrollbaronright='true' unequalcontrols='true' scrollsegmentsize=scrollSpeed
			update='true' OnUpdate='UIObject_OnUpdate_GetJournalEntries()'
		)
			UICollapsable(name='JournalCollapsable' x=0 y=0 width=listboxWidth - 15 prototype='true'
				isexpanded='true' ypadding='1' xpadding='5'
			)
				UIButton(name='PROTO_HEADER' x=0 y=0 width="PARENT_WIDTH" height=44 header='true')
					UIText(indent='28' hangingindent='8' prototype='true'
						align='left' valign='middle' fontfamily="NWN1_Dialog" style='2' color="DDDDDD"
						uppercase='false' maxlines='2'
					)
					UIFrame(state='up'         fill='b_qjd_hover_pressed.tga')
					UIFrame(state='down'       fill='b_qjd_hover_pressed.tga')
					UIFrame(state='hilited'    fill='b_qjd_hover_pressed.tga')
					UIFrame(state='focused'    fill='b_qjd_hover_pressed.tga')
					UIFrame(state='hifocus'    fill='b_qjd_hover_pressed.tga')
					UIFrame(state='disabled'   fill='b_qjd_hover_pressed.tga')
					UIFrame(state='header'     fill='b_qjd_normal.tga')
					UIFrame(state='hiheader'   fill='b_qjd_normal.tga')
					UIFrame(state='downheader' fill='b_qjd_normal.tga')

				UIText(name='PROTO_TEXT' width=listboxWidth - 15 height="DYNAMIC" prototype='true'
					align='left' valign='top' multiline='true' color='282207' fontfamily="NWN1_Dialog" style='bold'
				)

			UIScrollbar(name='SB' style='STYLE_SB_THIN')

	UIPane(name='NOTES_PAGE' x=listboxLeft y=headerHeight width=listboxWidth height=contentSize[1] - headerHeight hidden='true')
		UIListBox(name='NOTES_LISTBOX' width="PARENT_WIDTH" height="PARENT_HEIGHT"
			showpartialchild='true' unequalcontrols='true' scrollsegmentsize=scrollSpeed hidescrollbarwhennotneeded='false'
		)
			UIText(name='NOTES_FIELD' x="ALIGN_CENTER" width=listboxWidth - 15 - 10 height='DYNAMIC'
				align='left' valign='top' multiline='true' fontfamily="NWN1_Dialog" style='bold' color='black'
				clearonescape='false' editable='true' selectable='true' maxlength='16384' allowspace='true'
			)
			UIScrollbar(name='SB' style='STYLE_SB_THIN')

	// Background Image
	UIFrame(name='BACKGROUND_TOP' fill='qj_top.tga' height=headerHeight)
	UIFrame(fill='fx_white.tga' alpha="0.1" y=headerHeight height=contentSize[1] - headerHeight)
	UIFrame(name='BACKGROUND' fill='qj_paper.tga' y=headerHeight height=contentSize[1] - headerHeight)
UIFrame(
	topleft='frame1_tl.tga' topright='frame1_tr.tga' bottomleft='frame1_bl.tga' bottomright='frame1_BR.tga'
	top='frame1_t.tga' bottom='frame1_b.tga' left='frame1_l.tga' right='frame1_r.tga'
	border='32'
)
